<h1>New roster</h1>


<%= form_for @roster, url: {action: "create"} do |f| %>
  <p>
    Name: <%= f.text_field 'name' %>
  </p>
  <p>
    Points limit: <%= f.number_field 'points_limit' %>
  </p>
  <p>
      Army:  <%= select(:roster, :army_id, @army_options) %>
  </p>
  <%= f.submit "Create" %>
<% end %>


<%= link_to 'Back', :action => nil %>

